html,body {
    height:100%
}

.eni-page-background {
    background-image: url("unicorn-background2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 2rem;
}
.eni-page-background-error{
    background: linear-gradient(45deg,
    rgba(255, 0, 0, 0.5),    /* Red */
    rgba(255, 165, 0, 0.5),  /* Orange */
    rgba(255, 255, 0, 0.5),  /* Yellow */
    rgba(0, 255, 0, 0.5),    /* Green */
    rgba(0, 0, 255, 0.5),    /* Blue */
    rgba(75, 0, 130, 0.5),   /* Indigo */
    rgba(238, 130, 238, 0.5) /* Violet */
    );
}
.eni-title {
    text-align: center;
    font-family: cursive;
}
.eni-text {
    text-align: center;
    font-size: xx-large;
    color: #444444;
    font-family: cursive;
}

.eni-navbar{
    border-radius: 1em;
    background: radial-gradient(circle, rgba(213,219,249,1) 3%, rgba(197,235,242,1) 96%);
    border-style: solid;
    border-color: #444444;
    justify-content: center;
    font-family: cursive;
}

.eni-movie-bloc {
    border-style: solid;
    border-color: #444444;
    border-radius: 3em;
    border-width: 0.25em;
    background: radial-gradient(circle, rgba(213,219,249,1) 3%, rgba(197,235,242,1) 96%);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    display: inline-block;
    font-family: cursive;

}

.eni-movie-bloc-detail{
    border-style: solid;
    border-color: #444444;
    border-radius: 3em;
    border-width: 0.25em;
    background: radial-gradient(circle, rgba(213,219,249,1) 3%, rgba(197,235,242,1) 96%);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    font-family: cursive;
}
.eni-img-movie {
    width: 140px;
}
.eni-img-error-404{
    width: 60%;
    border-style: solid;
    border-radius: 3em;
    border-color: #444444;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.eni-link-click {
    display: block;
    text-align: center;
}

.eni-popcorn{
    border-radius: 3em;
    width: 90%;
    margin: 5% 5%  5%  5% ;

}

.eni-star-check{
    color: coral;
}