<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/base}">

<div  layout:fragment="content">

  <div class="eni-title">
      <h1> Détails </h1>
  </div>

    <div th:each ="movies : ${movie}" class="eni-movie-bloc-detail uk-margin uk-padding ">
        <div class="uk-text-center">
            <p th:text ="${movie.title}"></p>
            <p th:text ="${movie.year}"></p>
            <p th:text ="${movie.duration} + ' min'"></p>
            <p th:text ="${movie.synopsis}"> </p>
        </div>
        <img th:src="${movie.url}" class= "eni-img-movie"></img>
    </div>

</div>

