<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/vendor/uikit/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="/vendor/uikit/js/uikit.min.js"></script>
    <script src="/vendor/uikit/js/uikit-icons.min.js"></script>

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/vendor\fontawesome\css\fontawesome.min.css"/>

    <!-- My theme -->
    <link rel="stylesheet" href="/eni-theme.css"/>

    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body class="eni-page-background">

<div class="eni-common-page-padding">

  <div class="eni-title">
      <h1> Détails </h1>
  </div>

    <nav class="eni-navbar" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="accueil">Accueil</a></li>
                <li class="uk-parent"><a href="movies">Films</a></li>
            </ul>
        </div>
    </nav>

    <div th:each ="movies : ${movie}" class="eni-movie-bloc uk-margin uk-padding ">
        <div class="uk-text-center">
            <p th:text ="${movie.title}"></p>
            <p th:text ="${movie.year}"></p>
            <p th:text ="${movie.duration} + ' min'"></p>
            <p th:text ="${movie.synopsis}"> </p>
        </div>
        <img th:src="@{'/'+ ${movie.url}}" class= "eni-img-movie"></img>
    </div>

</div>
</body>
</html>