<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/Vendor/uikit/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="/vendor/uikit/js/uikit.min.js"></script>
    <script src="/vendor/uikit/js/uikit-icons.min.js"></script>

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/vendor\fontawesome\css\all.min.css"/>

    <!-- My theme -->
    <link rel="stylesheet" href="/eni-theme.css"/>


    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<div class="eni-page-background">

    <div class="eni-title">
        <h1> Films </h1>
    </div>

    <nav class="eni-navbar" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="accueil">Accueil</a></li>
                <li class="uk-parent"><a href="movies">Films</a></li>
            </ul>
        </div>
    </nav>

    <div class="eni-movie-bloc uk-margin uk-padding " th:each="movies : ${movies}">
        <div class="uk-text-center">
            <p th:text="${movies.title}"></p>
            <div>

                <i th:each="star:${maxStars}" class="fas fa-star"
                   th:classappend="${movies.getNote() >= star} ? 'eni-star-check'"></i>

            </div>
            <p th:text="${movies.year}"></p>
            <p th:text="${movies.duration} +' min'"></p>
            <p th:text="${movies.synopsis}"></p>
        </div>
        <a class="uk-link-muted eni-link-click eni-link-click" href="details.html"> <img th:src="@{${movies.url}}"
                                                                                   class="eni-img-movie"/>
        </a>

    </div>
</div>
</body>
</html>