<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/Vendor/uikit/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="/vendor/uikit/js/uikit.min.js"></script>
    <script src="/vendor/uikit/js/uikit-icons.min.js"></script>

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/vendor\fontawesome\css\all.min.css"/>

    <!-- My theme -->
    <link rel="stylesheet" href="/eni-theme.css"/>


    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<div class="eni-page-background">

    <div>
        <h1 class="eni-title"> Films </h1>
    </div>

    <nav class="eni-navbar" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="accueil">Accueil</a></li>
                <li class="uk-parent"><a href="movies">Films</a></li>
            </ul>
        </div>
    </nav>

    <div class="eni-movie-bloc uk-margin uk-padding " th:each="movie : ${movies}">
        <div class="uk-text-center">
            <p th:text="${movie.title}"></p>
            <div>

                <i th:each="star:${maxStars}" class="fas fa-star"
                   th:classappend="${movie.getNote() >= star} ? 'eni-star-check'"></i>

            </div>
            <p th:text="'Année de sortie: '+${movie.year}"></p>
            <p th:text="'Durée: '+ ${movie.duration} +' min'"></p>
            <p th:text="${movie.synopsis}"></p>
        </div>
<!--        <a class="uk-link-muted eni-link-click eni-link-click"  th:href="@{details/{id}(id=${movie.id})}">-->
<!--            <img th:src="@{${movie.url}}" class="eni-img-movie"/>-->
<!--        </a>-->
        <a class="uk-link-muted eni-link-click" th:href="@{/details/{id}(id=${movie.id})}" target="_blank">
            <img th:src="@{${movie.url}}" class="eni-img-movie"/>
        </a>


    </div>
</div>
</body>
</html>